vrpn/build/
vrpn/cmake_install.cmake
vrpn/CMakeCache.txt
vrpn/Makefile
vrpn/vrpn_client
vrpn/vrpn-build/
vrpn/vrpn-src/
vrpn/vrpn-stamp/
__pycache__/
*.pyc
.DS_Store
venv/

.pytest_cache/
.ipynb_checkpoints/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/